@model IEnumerable<FoodOrderClient.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iavailability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iavailability)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Create">Place Order</a>
</div>
